/* Enter your custom styles here */
.layout{
    margin-top: -7%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(221, 214, 214);
    background-color: white;
    margin-left: 10px;
}
.sapTntToolHeader.sapMTB {
    background-color: black !important;
    border-radius: 0% !important;
}

.sapMLnk:not(.sapMLnkDsbl) {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left:10%
}
.sapMLnk:not(.sapMLnkDsbl):hover:not(:active):not(:focus) {
    text-decoration: none;
    text-shadow: none;
    color: white;
}
#container-nauticalfe---View2--mainSplitter-content-1{
    border: 2px solid rgb(221, 214, 214);
    height: 400px;
    background-color: white;
}
#container-nauticalfe---View2--mainSplitter-content-2{
    border: 2px solid rgb(221, 214, 214);
    height: 400px;
    background-color: white;
}
#container-nauticalfe---View2--mainSplitter-content-0{
    border: 2px solid rgb(221, 214, 214);
    height: 402px;
    background-color: white;
}
.sapUiLoSplitterH.sapUiLoSplitter{
    /* padding: 15px; */
    margin: 10px;
}
#container-nauticalfe---View2--mainSplitter{
    height: 400px;
}

/* .element.style {
    width: 100%;
    height: 430px;
} */
#_IDGenFlexBox1{
    margin-left: 5px;
}
.sapMBtnInner.sapMBtnText{
    color: rgb(207, 11, 11);
    border: 1px solid rgb(207, 11, 11);
    border-radius: 6px;
    &:hover{
        background-color: antiquewhite;
        color: red;
    }
}
/* .sapMBtnInner.sapMBtnText:hover{
    color:red;
} */

#container-nauticalfe---View2--_IDGenButton3-inner{
    background-color: rgb(207, 11, 11);
    color: white;
}

.sapUiSizeCompact .sapMCb {
    margin-left: 10px;
   
}
/* #__data13{
    padding: 7px;
}
#__data15{
    padding: 7px;
}
#__data16{
    padding: 7px;
} */
.speedmeasuretxt{
    padding: 7px !important;
}
.sapUiSizeCompact .sapMBtnInner{
    border: 1px solid red;
}
.sapUiSizeCompact .sapMBtnIcon {
    color: rgb(207, 11, 11);
}
/* .sapUiSizeCompact .sapMListTblCell.sapMListTblHeaderCell{
    border: 1px solid rgb(239, 232, 232);
} */
.sapMListTblSelCol, .sapMListTblCell, .sapMListTblNavCol {
    border: 1px solid rgb(239, 232, 232);
}
#container-nauticalfe---View2--logo2-icon-image{
    height: 4rem;
}
.flexbtn{
    margin-right: 10px;
    border-radius: 2px;
}
.sapMListTbl {
    margin-left: 10px;
    /* margin-right: 10px; */
}


#container-nauticalfe---View3--header2{
    background-color: white !important;
}
#container-nauticalfe---View3--link2{
    color: black;
    margin-left: 45%;
}
#container-nauticalfe---View3--header3{
    background-color: rgb(18, 116, 116) !important;
    height: 45px;
}

#container-nauticalfe---View3--header4{
    background-color: rgb(41, 178, 178) !important;
    margin: 10px 20px 0px 20px;
    height: 40px;
}

.sapMFlexItem{
    margin-left: 10px;
}
/* .subHeaderFlexItem{
    margin-left: 10px !important;
} */
.ftable{
    padding-left: 0.6%;
    padding-right: 2.1%
}
.freighttxt{
    color:white !important;
}
#container-nauticalfe---View3--header5{
    background-color: rgb(18, 116, 116) !important;
    height: 45px;
}
#container-nauticalfe---View3--header6{
    background-color: rgb(41, 178, 178) !important;
    margin: 10px 20px 0px 20px;
    height: 40px;
}
